@model IEnumerable<Library.Models.BorrowedBookViewModel>

@{
    ViewData["Title"] = "ListBorrowedBooks";
}
@if(ViewData["message"] != null)
{
<div style="text-align:center !important;background:#e34420; padding:5px"><h6>@ViewData["message"]</h6></div>
}
<div style="text-align:center !important"><span>My Account</span></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBorrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverDue)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverDue)
            </td>
        </tr>
}
    </tbody>
</table>
